@page
@model EMigrant.App.Presentacion.Pages.CrudMigrante.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].PaisOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].SituacionLaboral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].NumeroDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].FNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrante[0].Usuario)
            </th>     
             <th>
                @Html.DisplayNameFor(model => model.migrante[0].Clave)
            </th>
          <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.migrante) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaisOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituacionLaboral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                 <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
               <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td> 
        </tr>
}
    </tbody>
</table>
