@page
@model EMigrant.App.Presentacion.Pages_CrudEmergencia.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emergencia[0].DescripcionEmergencia)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Emergencia[0].reportadaPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergencia[0].ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergencia[0].estadoEmergencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergencia[0].atendidoPor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Emergencia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionEmergencia)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.reportadaPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoEmergencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.atendidoPor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
